<h2>Template: <small>dinamics</small></h2>

<hr>

<div class="row w-50">
    <div class="col">
        <form (ngSubmit)="save()" #myForm="ngForm" autocomplete="off">
            <div class="mb-3 row">

                <div class="col-sm-4 w-100">
                    <input type="text" class="form-control" ngModel name="name" placeholder="Name"
                        [ngModel]="person.name" required>
                    <span class="form-text text-danger"
                        *ngIf="myForm.controls.name?.errors && myForm.controls.name?.touched">*This field is
                        required</span>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-4 w-100">
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="newGame" name="newGame" (keyup.enter)="addGame()" placeholder="Add favorite">
                        <button type="button" class="btn btn-outline-primary"  (click)="addGame()" >Add</button>
                    </div>

                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"><b>Favourites</b></label>

                <div class="col-sm-4 w-100">
                    <div class="input-group mb-2" *ngFor="let game of person.favourites; let i = index">
                        <input [(ngModel)]="game.name" name="game{{i}}" class="form-control" required>
                        <button type="button" class="btn btn-outline-danger" (click)="delete(i)">Delete</button>
                    </div>


                </div>
            </div>


            <div class="mb-3 row">
                <div class="col">
                    <button type="button" (click)="save()" class="btn btn-primary float-end"
                        [disabled]="myForm.invalid">
                        Save
                    </button>
                </div>
            </div>
        </form>


        <span>Person</span>
        <pre>{{person | json}}</pre>
    </div>
</div>